@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}

body {
    background: linear-gradient(45deg, #c004a1, #8736ce,  #f589e3);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container {
    background: rgb(238, 194, 223);
    min-width: 320px;
    min-height: 400px;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(12, 12, 12, 0.795);
    border-radius: 10px;
}

main h2 {
    font-weight: 6008;
    margin-bottom: 2rem;
    position: relative;
}

main h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 25px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(50deg, #c004a1, #8736ce,  #f589e3);
}

form {
    display: flex;
    flex-direction: column;
}

.input-field {
    position: relative;
}

form .input-field:first-child {
    margin-bottom: 1.5rem;
}

.input-field .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(52, 46, 71, 0.904);
}

.input-field .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(50deg, #c004a1, #8736ce,  #f589e3);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.input-field input:focus ~ .underline::after {
    transform: scaleX(1);
}

.input-field input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.5);
    background: rgb(238, 194, 223);
}

form input[type="submit"] {
    margin-top: 2rem;
    padding: 0.4rem;
    width: 100%;
    background: linear-gradient(to left, #c004a1, #8736ce,  #f589e3);
    cursor: pointer;
    color: #000000;
    font-size: 1rem;
    font: bold;
    font-weight: 500;
    border-radius: 4px;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #d4dcee, #e73fdf);
}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.footer span {
    color: rgba(57, 5, 70, 0.7);
    font-size: 0.8rem;
    text-align: center;
}

.footer .social-field {
    padding: 0.4rem;
    border-radius: 4px;
    font-size: 0.85rem;
    width: 100%;
    cursor: pointer;
    margin-top: 1rem;
}

.footer .social-field a i {
    margin: 0 0.5rem;
    width: 15px;
}

.footer .social-field a {
    text-decoration: none;
    color: rgb(108, 14, 131);
}

.footer .social-field.twitter {
    background: linear-gradient(to right, #edf0f3, #8cc0f1);
}

.footer .social-field.facebook {
    background: linear-gradient(to right, #d0d2d6, #3675e0);
}

.footer .social-field.linkedin {
    background: linear-gradient(to right, #e5e6e9, #0e44a1);
}